

<div class="container-fluid ">
  <div class="row">

    <div class="col">
      <div class="container">
        <app-companies></app-companies>
      </div>
    </div>

    <div class="col ">
      <div class="container">
        <app-posts></app-posts>
      </div>
    </div>

    <div class="col">
      <div class="container container-height">
        <div class="col ">
          <div class="container ">
            <app-reactions></app-reactions>
          </div>
        </div>
        
        <div class="col">
          <div class="container">
            <app-comments></app-comments>
          </div>
        </div>
        
        <div class="col">
          <div class="container">
            <app-followers></app-followers>
          </div>
        </div>
        
        
        <div class="col">
          <div class="container">
            <app-users></app-users>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>


